{% extends "base.html" %}

{% block content %}
<h1 class="title">
  App Auth Express
</h1>
<h2 class="subtitle">
  Easy authentication with Firebase.
</h2>
<h2 class="subtitle">
  <p>This App auth-express is just a service that consumes the resources of the api-auth api.</p> 
  <p>You can find more information in the github and dockerhub repositories.</p>
</h2>
<br>
<div class="container">
  <div class="column is-half is-offset-one-quarter">
    
    <a href="https://github.com/andrequeiroz2/appi2c" target="_blank" class="button is-dark is-medium">
      <span class="icon">
        <i class="fab fa-github"></i>
      </span>
      <span>github</span>
    </a>
  
  </div>
</div>
{% endblock %}